.DS_Store
.fleet/
.vs/
.vscode/
.idea/
.cache/
/artifacts/
/apis/gmaps/*.gltf
/apis/gmaps/*.glb
/assets/scenes/**/*.jpg
/assets/scenes/**/*.png
/assets/scenes/*.bin
/assets/scenes/*.gltf
/build/
/emscripten/build/
/emscripten/web/*.js
/emscripten/web/*.wasm
/emscripten/web/*.data

src/SceneDescriptor/XPAttachments.h
src/SceneDescriptor/XPNode.cpp
src/SceneDescriptor/XPNode.h
src/SceneDescriptor/XPSceneStore.cpp
src/SceneDescriptor/XPSceneStore.h
src/Utilities/XPAnnotations.cpp
src/Utilities/XPAnnotations.h
src/Renderer/Vulkan/offline/*.u32

src/.DS_Store
src/Compute/shaders/*.metal
src/Compute/shaders/*.metallib
src/Compute/shaders/*.cu
src/Compute/shaders/*.ptx